@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #64748b;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background: #ffffff;
  --foreground: #171717;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {  
  color: #747bff;
}

body {
  background: var(--background);
  color: var(--foreground);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: rgb(110, 0, 0);
}
button:focus,
button:focus-visible {
  outline: 2px solid #5364bb;
  outline-offset: 2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  a:hover {
    color: #535bf2;
  }
  button {
    background-color: #1a1a1a;
  }
}

pre {
  background-color: #f9fafb;
  padding: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 0.5rem;
  overflow-x: auto;
  font-family: monospace;
  font-size: 0.875rem;
}

code {
  color: #1e293b;
}